# This is Git's per-user configuration file.
[user]
	name = ravi-rajpurohit
	email = ravi.rajpurohit385@gmail.com
[merge]
  tool = vscode
[mergetool]
  keepBackup = false
[mergetool "vscode"]
  cmd = code --wait --new-window $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[push]
	autoSetupRemote = true
[help]
	autocorrect = 20
[credential]
	helper = osxkeychain
